@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;600;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

h1,h2,p,span {
    font-family: 'Pixelify Sans', sans-serif;
}

.textYellow{
    color: rgba(255, 255, 0, 0.849);
}

body{
    background-image: url('/bubble_castle/assets/img/castleIMGbackground.png');
    background-repeat: no-repeat;
    background-position: center;

}

.userMaker {
    color: rgb(206, 206, 206);
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.928);
    text-align: center;
}

